
/****************************************  Ethosh ****************************************/
#ngsInteractive{
	width:1170px;
	padding:0 15px;
	margin:0 auto;
	font-size: 14px;
    line-height: 20px;
	font-family: 'Roboto', Arial, sans-serif, Helvetica !important;
}

img{
	max-width:100%;
	display:block;
	height:auto;
	vertical-align: middle;
}

#productDiv ::-webkit-scrollbar {
    width: 5px;
}

#productDiv ::-webkit-scrollbar-thumb {
    background-color: #d5d2d2;
}

#productDiv ::-webkit-scrollbar-thumb:hover {
    background-color: #d5d2d2;
}

#productDiv .ngsHeadline{
	color:#0085D5;
	font-size:32px;
	line-height:40px;
	font-weight:lighter;
	margin-top: 20px;
    margin-bottom: 10px;
	margin-left:30px;
}

#ngslabHeadline{
	position:absolute;
	top: 0;
	font-size:26px !important;
	line-height:32px !important;
}

#productInfo{
	position: relative;
} 

#personaPanel{
	display: flex;
    align-items: center;
    background-color: #0085D5;
    color: #ffffff;
    width: 95%;
    padding: 1% 1% 1% 4%;
    background-image: url(../images/band.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.bandPanel{    
	width: 3%;
    margin-right: 1%;
    float: left;
    text-align: left;
}

.personaBand{
	float: left;
    width: 50%;
	min-height:120px;
}

.personaContainer{
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
    align-items: center;
	width:100%;
}

.bandContent{
	display: none;
	width:100%;
	padding:10px;
}

.title{
	width:25%;
	margin-right:2%;
	font-size:24px;
	line-height:30px;
	font-weight:lighter;
}

.personaBtnPanel{
	display:flex;
	flex-direction:row;
	width:73%;
}

.personaBtnPanel .personaBtn{
	width:32%;
	margin-right:2%;
	display:flex;
	align-items:center;
	justify-content:left;
	font-size:16px;
	line-height:20px;
	font-weight:500;
	cursor:pointer;
}

.personaBtnPanel .personaBtn:last-child{
	margin-right:0;
}

.personaBtnContainer{
	width:100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.personaIcon{
	float:left;
	border-radius: 50%;
	background: #ffffff;
	margin-right:5%;  
	text-align: center;
}

.personaName{
	width:70%;
	float: left;
}

.perosnaInfo{
	width:100%;
	margin-top: 15px;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.perosnaInfo .personaIcon{
	margin-right:2%;
}

.commaIcon {
	width: 4%;
	float: left;
	margin-right: 2%;
}

.personaContent{
	float: left;
    width: 82%;
}
.personaHeading{
	font-weight: 500;
    margin-bottom: 10px;
}

.personaHeading br{
	display:none;
}

.personaDescription{
    float: left;
}

.labContainer,.instrumentContainer{
	width: 100%;
    display: inline-block;
	position: relative;
	overflow: hidden;
}

.workflowBandContainer{
	float:left;
	width:23%;
	margin-right:3%;
	padding:2%;
	padding-top:0;
	background-color:#E6E7E8;
}

#ngsWorkflowHeadline{
	margin-left:0 !important;
}

.workflowContent{
	display: flex;
    align-items: center;
}

.workflowBandDiv{
	width:100%;
}

.workflowVerticalDiv{
	width:10%;
	display: flex;
    flex-direction: column;
    align-items: center;
	transform: rotate(180deg);
}

.verticaltxt{
	-webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
	padding: 5px;
}

.verticalArrow{
	width:1px;
	height:110px;
	background-color:#888B8D;
}

.leftArrow::before{
	content: "-";
    position: absolute;
    left: 12px;
    margin: 0 auto;
    color: #888B8D;
    line-height: 1.5px;
}

.bandContainer{
	display: flex;
    align-items: center;
	width:100%;
}

.bandTxt{
	font-size:14px;
	width: 75%;
    margin-right: 2%;
	float:left;
}

.fontGrey{
	color:#888B8D;
}

.fontBlue{
	color:#2483C6;
}

.bandImg{
	width:22%;
	float:left;
	cursor:pointer;
}

.bandImg img{
	width:100%;
}

.workflowArrow{
	width: 100%;
    text-align: right;
}

.workflowArrow img{
	width: 5%;
	float: right;
    margin-right: 13%;
}

.animaImg{
	float:left;
	width:70%;
	position: relative;
}

.animaImg img{
	max-width:80%;
	margin:0 auto;
	display:block;
	height:auto;
	vertical-align: middle;
}

.labHotspot{
	width: 14%;
    padding: 5px;
    position: absolute !important;
    cursor: pointer;
	text-align:center;
}

.hotspotBtn{
	width:40px;
	height:40px;
	border-radius:22px;
	border:3px solid #0085D5;
	background-repeat:no-repeat;
	background-size: contain;
	position:absolute;
	cursor:pointer;
	margin-left: 35%;
    margin-top: 8%;
}

#labHotspot1{
	top:55%;
	left:50%;
	width: 10%;	
}

#labHotspot2{
	top:10%;
	left:45%;
}

#labHotspot3{
	top:20%;
	left:72%;
}

.workflowName{
	font-size: 11px;
    line-height: 15px;
    padding: 5px;
	color:#ffffff;
    background-color: #0085D5;
}

.workflowContainer{
	width: 100%;
}

.selectWorkflowContainer{
	min-width: 300px;
	display: inline-block;
    position: relative;
	padding-top: 0.5em;
}

.homeIcon{
    float: right;
    width: 30px;
    height: 30px;
	cursor:pointer;
    background-image: url(../images/home_icon.png);
    background-position: center;
    background-repeat: no-repeat;
}

.infoIcon{
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    background-image: url(../images/info_close_icon.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 2;
    position: relative;
}

.infoIcon::after{
	content: " ";
	display: block;
	position: absolute;
	border:1px solid #ffffff; 
	height:60px;
	left:50%;
	top: 100%
}

.infoIcon.without-after-element:after {
	content: none;
}

.infoClose{
	background-position: 0 -30px;
}

.infoContainerDiv{
	background-color: #ffffff; 
	margin-top:10%;
	width:450px;
	float:right;
	top:60px;
	right: -15px;
    position: absolute;
	display:none;
	height: 350px;
    overflow-y: auto;
}

.contentDiv{
	color:#53575A;
	padding:5%;
}

.contentDiv:last-child{
	padding-top:0;
}

.contentDiv:first-child{
	padding-top:5%;
}

.contentDivHeader{
	display: flex;
    align-items: center;
    width: 100%;
	margin-bottom:10px;
}

.headerIcon{
	width: 12%;
    float: left;
	margin-right:2%;
}

.contentDivHeading{
	font-weight:bold;
}

.contentDivInfo ul{
	margin-left: -20px;
}

.contentDivInfo p{
	margin-bottom: 5px;
}

.workflowSelectBox{
	display: inline-block;
    width: 100%;
}

.selectWorkflow{
	display: inline-block;
    float: left;
    margin-right: 5%;
	cursor:pointer;
}

.navigationPanel{
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom:10%;
	color:#0085D5;
	font-size:16px;
	line-height:20px;
}

.navigationBtn{
	cursor:pointer;
}

.navigationBtn:first-child{
	float:left;
	margin-left:2%;
}

.navigationBtn:first-child::before{
	content:url(../images/previous_btn.png); 
	position:relative; 
	padding-right: 10px;
    left: 0;
	top: 10px;
}

.navigationBtn:last-child{
	float:right;
	margin-right:2%;
}

.navigationBtn:last-child::after{
	content:url(../images/next_btn.png);
	position:relative;
	padding-left: 10px;
    left: 0;
	top: 10px;
}

.workflowPanel{
	width: 100%;
	background-color: #ffffff;
    color: #0085D5;
    padding: 10px;
	position: absolute;
	z-index: 2;
	display: none;
    top: 32px;
}

.workflowIcon {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../images/workflow_down_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
	 cursor: pointer;
}

.workflowIconChange{
	 background-image: url(../images/workflow_up_arrow.png) !important;
}

.workflowItem{
	margin-bottom:10px;
	cursor:pointer;
}

.workflowItem:last-child{
	margin-bottom:0;
}

.instrumentlab{
	//display:none;
	position: relative;
	left:-500px;
}

.instrumentHotspot{
	position: absolute;
	width: 16%;
    text-align: center;
}

.workflowName{
	cursor:pointer;
}

.hotspotInfo{
	text-align: left;
}

.hotspotInfo p{
	font-size: 8px;
	line-height:12px;
	margin:0;
}

.hotspotInfo ul{
	font-size: 8px;
	line-height:10px;
    margin-left: 0px;
	padding-left:20px;
    text-align: left;
	list-style-type: none;
    padding-left: 15px;
	margin-bottom: 0;
}

.hotspotInfo ul li:before {
    content: '\2013';
    position: absolute;
    margin-left: -12px;
}

.instrumentHotspot .line{
	position: absolute;
    left: 50%;
    width: 1px;
    background-color: #4183C4;
    height: 70px;
	margin: 0 auto;
}

.instrumentHotspot .line:after { 
	position:absolute; 
	bottom:-10px; 
	left:0; 
	height:10px; 
	width:10px; 
	border:1px solid #4183C4;
	content:"";
	border-radius:5px;
	right:0;
	left:-5px;
}

#instrumentHotspot10{
	left:4.2%;
	top: 20%;
}

#instrumentHotspot11{
	left:13.5%;
	top: 4%;
}

#instrumentHotspot11 .line{
	height:100px;
}

#instrumentHotspot12{
	left:25%;
	top: 19%;
}

#instrumentHotspot12 .line{
	height:22px;
}

#instrumentHotspot13{
    left: 39%;
	top: 8%;
}

#instrumentHotspot14{
	left:68.5%;
	top: 5%;
}

#instrumentHotspot15{
	left:82.5%;
	top: 15%;
}

#instrumentHotspot15 .line{
	height:30px;
	left:63%;
}

/**************** Library prep hotspots ************/
.instrumentHotspot2{
	width:14%;
}

#instrumentHotspot20{
	left:7.5%;
	top:25%;
}

#instrumentHotspot21{
    left: 43.5%;
    top: 26%;
}

#instrumentHotspot21 .line{
	height:40px;
}

#instrumentHotspot22{
    left: 63.5%;
    top: 3%;
}

#instrumentHotspot22 .line{
	height:40px;
}

#instrumentHotspot23{
	left:82%;
	top:2%;
}

#instrumentHotspot23 .line{
	height:40px;
}

/**************** data analysis hotspots ************/

#instrumentHotspot30{
	left:20.5%;
	top:15%;
}

#instrumentHotspot31{
	left:55%;
	top:15%;
}

/**********************personaInstrumentHotspot ************************/

.personaInstrumentHotspot{
	
}

/******************** Instrument overlay ****************************/
.instrumentOverlay,.infoOverlay,.videoOverlay{
	text-align: center;
	position: absolute; 
	display: none; 
	width: 100%; 
	height: 100%; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); 
	z-index: 3;
	animation-name: fadeInDown;
}

.videoPopupContainer{
	background-color: #fff;
    width: 56%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 20px;
}

.videoPopup{
	display:none;
}

.videoHeading{
	float:left;
	font-size:20px;
	line-height:24px;
	font-weight:lighter;
	color:#1A1818;
}

.videoClose{
	width: 20px;
    height: 20px;
    float: right;
    margin-right: 0;
    background-image: url(../images/close_button.png);
    background-repeat: no-repeat;
    background-size: contain;
	cursor:pointer;
}

.videoHeaderContainer{
	display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.videoPopup video{
	max-width:100%;
}

.goToContainer{
	width:100%;
	text-align:center;
	margin-top:10px;
}

.go-to-txt{
	margin-bottom:10px;
	font-size:18px;
	line-height:20px;
	font-weight:lighter;
	color:#1A1818;
}

.cta-go{
	width: 10%;
    display: inline-block;
    background-color: #0085d5;
    padding: 10px;
    color: #ffffff;
    text-align: center;
	cursor:pointer;
}

.cta-go:hover{
	background-color:#00426A;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 

.infoOverlay{
	z-index: 1; 
}

.popUpDataContainer{
	background-color: #ffffff; 
	display:inline-block;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	width: 90%; 
	margin:0 auto;
}

.instrumentInfo{
	width:28%;
	float:left;
	background-color:#0085D5;
	text-align:left;
	color:#ffffff;
}

.instrumentInfoContainer{
    width: 80%;
    float: left;
    padding: 5%;
}

.instrumentInfoContainer .infoContainer{
	height: 200px;
	overflow: hidden;
    overflow-y: auto;
	padding: 10px;
}

.teaser830{
	height: 320px;
    overflow: hidden;
    overflow-y: auto;
	position: relative;
}

.instrumentInfo .instrumentInfoContainer .imgContainer{
	text-align: center;
	margin:15px;
}

.instrumentInfo .instrumentInfoContainer .imgContainer img{
	max-width:100%;
}

.band{
	float:right;
	width:10px;
	min-height:490px;
}

.lightblueband{
	background-color:#00A8DF;
}

.darkblueband{
	background-color:#0B436A;
}

.instrumentTabInfo{
	text-align: left;
    width: 68%;
    padding: 2%;
    float: left;
}


.headingContainer,.mainTabContainer {
    display: flex;
    align-items: center;
    text-align: left;
	margin-bottom:3%;
}

.mainTabContainer{
	margin-bottom:0;
}

.mainTabs{
	width: 100%;
	display: flex;
    align-items: center;
}

.instrumentHeading{
	float:left;
	width:98%;
	font-size:20px;
	line-height:24px;
	color:#2282C5;
}

.closePopupBtn {
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 0;
    background-image: url(../images/close_button.png);
    background-repeat: no-repeat;
    background-size: contain;
	cursor:pointer;
}

.mainTabCaption{
	position: relative;
    width: 33%;
	margin-right:1%;
    float: left;
    padding: 0.8em 0.5em;
	color:#0B436A;
	cursor:pointer;
}

.mainTabCaption:last-child{
	margin-right:0;
}

.mainTabCaptionselected{
	color: #0085D5;
	font-size:15px;
	line-height:20px;
}


#popUpData{
	color: #53575A;
    font-size: 13px;
    line-height: 17px;
}

#popUpData .tabList {
    display: inline-block;
    width: 100%;
    text-align: center;
	border-bottom: 1px solid #0085D5;
}

#popUpData .tabList .tabCaption {
    position: relative;
    width: 17%;
	margin-right:1%;
    float: left;
    padding: 1.5% 0.8%;
    color: #2282C5;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
	background-color:#E5E5E5;
    cursor: pointer;
    border: none;
    outline: none;
}

#popUpData .tabList .tabCaption:nth-child(2){
	 width: 20%;
}

#popUpData .tabList .tabCaption:last-child{
	margin-right:0;
}

#popUpData .tabList .tabCaptionselected {
    background-color: #0085D5;
	color:#ffffff;
}

.dataContainer{
	width:100%;
	margin-top:20px;
}

.dataContainer ul{
	 list-style-type: none;
	padding-left: 20px;
}

.dataContainer ul li{
	margin-bottom:5px;
}

.dataContainer ul li:before {
  content: '\2013';
  float:left;
  margin-left: -20px;
}

.reagentsContent{
	display: flex;
    align-items: center;
	margin-bottom:20px;
}

.reagentsContent:last-child{
	margin-bottom:0;
}

.dataContainer .imgContainer{
	float: left;
    width: 30%;
    margin-right: 2%;
}

.dataContainer .imgContainer img{
    max-width: 100%;
}

.dataContainer .txtContainer{
	width: 68%;
	float: left;	
}

.dataContainer  a:link,
.dataContainer  a:visited,
.dataContainer  a:active {
	color:#0070BA;
	text-decoration:none;
}

.dataContainer  ul{
	color:#424648;
}

.dataContainer  ul li{
	margin-bottom:10px;
}

.dataContainer ul li p{
	margin-top:0;
}

.txtContent{
	margin-bottom:10px;
}

.dataContainer p,.txtContent p{
	margin:0;
	margin-top:5px !important;
	margin-bottom:3px !important;
}

.headingBold{
	font-weight:600;
}

#warning-message{
	display:none;
}

.disclaimerTxt{
	position: absolute;
    bottom: 0;
}

/******************** Media query start ****************************/

@media screen and (max-width:640px) and (orientation:portrait){
	body{
		margin:0;
	}
	
	#ngsInteractive{
		width:100%;
		padding:0;
	}
	
    #productDiv { 
       display:none !important; 
    }
	
    #warning-message { 
		width:100%;
		height:100%;
		color:#ffffff;
        font-size: 20px;
		line-height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: url("../images/mobile_portrait_bg.png");
        background-repeat: no-repeat;
		background-size: cover;
    }
	
	.rotateImg{
		margin-bottom:20px;
	}
	
	.rotatetxt{
		text-align:center;
		padding: 10px;
	}
}

*{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

:after, :before {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

@media (max-width: 1400px) and (orientation: landscape) {
	.workflowArrow{
		width: 100%;
		text-align: right;
	}

	.workflowArrow img{
		width: 5%;
		margin-right: 10%;
	}
}

@media (max-width: 1024px) and (orientation: landscape) {
	#ngsInteractive{
		width:100%;
	}
	.workflowName {
		font-size:10px;
	}
	
	#instrumentHotspot10 .line{
		height:50px;
	}
	
	#instrumentHotspot11{
		left: 11.5%;
		top:4%;
		width: 20%;
	}
	
	#instrumentHotspot11 .line{
		height:70px;
	}
	
	#instrumentHotspot12 {
		left: 23%;
		top: 18%;
		width: 20%;
	}
	
	#instrumentHotspot13{
		top:3%;
	}
	
	#instrumentHotspot14 {
		top: 2%;
	}
	
	#instrumentHotspot15 {
		top: 11%;
	}
	
	#instrumentHotspot20 .line{
		height: 36px;
	}
	
	#instrumentHotspot21 .line{
		height: 16px;
	}
	
	#instrumentHotspot22 .line{
		height: 20px;
	}
	
	#instrumentHotspot30 {
		top: 10%;
	}
	
	.instrumentInfoContainer .infoContainer {
		height: 250px;
	}
}


@media (max-width: 920px) and (orientation: landscape) {
	#ngsInteractive {
		width: 100%;
		padding: 0;
	}
	
	#productDiv{
		font-size:12px;
	}
	
	#productDiv .ngsHeadline{
		font-size: 20px;
		line-height: 24px;
		margin-left: 5px;
	}
	
	#ngslabHeadline{
		font-size: 20px !important;
	}
	
	#personaPanel{
		width: 91%;
		padding: 1% 1% 1% 8%;
	}
	
	.title{
		font-size: 18px;
		line-height: 20px;
		width: 14%;
		margin-right: 1%;
	}
	
	.personaBtnPanel{
		 width: 85%;
	}
	
	.personaBtnPanel .personaBtn{
		font-size: 13px;
		line-height: 17px;
	}
	
	.animaImg img {
		max-width: 90%;
	}
	
	.workflowBandContainer {
		padding: 2%;
	}
	
	.bandTxt{
		font-size:11px;
		line-height: 15px;
	}
	
	.verticalArrow {
		height: 60px;
	}
	
	.verticaltxt {
		padding: 5px 0;
		font-size: 10px;
	}
	
	.labHotspot {
		width: 20%;
	}
	
	#labHotspot1 {
		width: 12%;
		top: 45%;
		left: 45%;
	}
	
	#labHotspot2{
		top:2%;
	}
	
	#labHotspot3 {
		top: 8%;
		left: 70%;
	}
	
	.infoContainerDiv{
		height: 230px;
		overflow-y: auto;
	}
	
	.instrumentHeading {
		font-size: 18px;
		line-height: 20px;
	}
	
	.instrumentInfoContainer {
		width: 72%;
	}
	
	.mainTabCaption{
		font-size:12px;
		padding: 0.6em 0.5em;
	}
	
	.mainTabCaption:first-child{
		width:34%;
	}
	
	#popUpData .tabList .tabCaption{
		width:16%;
		padding:0.4em;
		font-size: 11px;
	}
	
	#popUpData .tabList .tabCaption:nth-child(2) {
		width: 23%;
	}
	
	.instrumentInfoContainer .infoContainer{
		font-size:13px;
		height: 130px;
	}
	
	.band{
		min-height: 320px;
	}
	
	.teaser830 {
		height: 220px;
	}
	
	.navigationPanel{
		font-size: 12px;
		line-height: 16px;
	}
	
	.navigationBtn:first-child::before {
		top: 13px;
	}
	
	.workflowName {
		font-size: 9px;
	}
	
	#instrumentHotspot10 {
		left: 1.5%;
		top: 24%;
		width: 17%;
	}
	
	#instrumentHotspot10 .line{
		height: 18px;
		left: 63%;
	}
	
	#instrumentHotspot11 {
		left:6.5%;
		top: 2%;
	}
	
	#instrumentHotspot11 .line {
		height: 65px;
		left: 75%;
	}
	
	#instrumentHotspot12 {
		left: 23%;
		top: 15%;
	}
	
	#instrumentHotspot12 .line {
		height: 28px;
	}
	
	#instrumentHotspot13 {
		top: 2%;
		left: 38%;
		width: 18%;
	}
	
	#instrumentHotspot13 .line {
		height: 48px;
	}
	
	#instrumentHotspot14 {
		top: 2%;
		left: 65.5%;
	}
	
	#instrumentHotspot14 .line {
		height: 35px;
		left: 70%;
	}
	
	#instrumentHotspot15 {
		top: 2%;
	}
	
	#instrumentHotspot15 .line {
		height: 22px;
	}
	
	.hotspotInfo ul,.hotspotInfo p{
		display:none;
	}
}


@media (max-width: 640px) and (orientation: landscape) {
	
	.animaImg img {
		max-width: 95%;
	}
	
	.instrumentInfoContainer .infoContainer {
		height: 150px;
	}
	
	.band {
		min-height: 300px;
	}
	
	.teaser830 {
		height: 190px;
	}
	
	.instrumentHeading {
		font-size: 16px;
		line-height: 20px;
	}
	
	.mainTabCaption {
		font-size: 11px;
	}
	
	#popUpData {
		color: #53575A;
		font-size: 12px;
	}
	
	#popUpData .tabList .tabCaption{
		width:13%;
		font-size: 11px;
	}
	
	#popUpData .tabList .tabCaption:nth-child(1) {
		width: 20%;
	}
	
	#popUpData .tabList .tabCaption:nth-child(2) {
		width: 25%;
	}
	
	.hotspotBtn {
    width: 30px;
    height: 30px;
	}
	
	#instrumentHotspot10 {
		left: 1.5%;
		top: 17%;
		width: 16%;
	}
	
	#instrumentHotspot10 .line{
		height:10px;
		left:66%;
	}
	
	#instrumentHotspot11 {
		left: 2.5%;
		top: 2%;
		width: 28%;
	}
	
	#instrumentHotspot11 .line {
		height: 40px;
		left:66%;
	}
	
	#instrumentHotspot12 {
		left: 23%;
		top: 15%;
		width: 20%;
	}
	
	#instrumentHotspot12 .line {
		height: 8px;
	}
	
	#instrumentHotspot13 {
		top: 2%;
		width: 18%;
	}
	
	#instrumentHotspot13 .line {
		height: 25px;
	}
	
	#instrumentHotspot14 {
		top: 2%;
		left: 65.5%;
	}
	
	#instrumentHotspot14 .line {
		height: 15px;
		left: 70%;
	}
	
	#instrumentHotspot15 {
		top: 2%;
	}
	
	#instrumentHotspot15 .line {
		height: 15px;
	}
	
	.hotspotInfo{
		text-align:center;
	}
	
	.instrumentHotspot2{
		width:20%;
	}
	
	#instrumentHotspot20 {
		left: 4.5%;
		top: 20%;
	}
	
	#instrumentHotspot21 {
		left: 58.5%;
	}
	
	#instrumentHotspot21 .line {
		left: 60%;
	}
	
	#instrumentHotspot22 {
		left: 79%;
		top: 2%;
	}
	
	#instrumentHotspot30 .line{
		height: 32px;
	}
	
	#instrumentHotspot31 {
		top: 10%;
	}
	
	#instrumentHotspot31 .line{
		height: 25px;
	}

}


@media (max-width: 640px) and (orientation: landscape) {
	.instrumentInfoContainer .infoContainer {
		height: 110px;
	}
	
	.band {
		min-height: 250px;
	}
	
	.teaser830 {
		height: 150px;
	}
	
	#popUpData .tabList .tabCaption {
		font-size: 9px;
	}
}